#submitDog,
.custom-file-upload {
  width: 260px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #db3a34;
  opacity: 0.6;
  color: #fff;
  transition: 0.5s;
  margin: 0;
}

.custom-file-upload:hover,
#submitDog:hover {
  opacity: 1;
}

#submitDog i,
.custom-file-upload i {
  margin-left: 12px;
}

.custom-file-upload {
  border-radius: 20px 20px 0 0;
  background-color: #f0f0f0;
  color: #000;
  line-height: 50px;
}

#submitDog {
  border-radius: 0 0 20px 20px;
  margin-bottom: 30px;
}

#uploadingForm {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

#file {
  display: none;
}

#preview {
  width: 260px;
  height: 260px;
  object-fit: cover;
  /* box-shadow: 0 40px 60px -6px black; */
}
